{% load static %}
<html>
    <head>
        <title>GrimRS</title>
        <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        
    </head> 
    <body>
        <br>
        <div class="container">
        <div class="row">
            <div class="col-md-3" >
                <div class="card card-body h-100 border-info" id = "profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/319163.png' %}">
                    <br>
                    <h4>Hi I'm GrimRS</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse atque nisi, commodi repellendus eius omnis illo ullam distinctio eveniet iste, eum</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, minus voluptatibus dolor neque, ipsum, ab quidem dignissimos ipsam illo atque vel repellendus nesciunt pariatur sed repudiandae ipsa sit hic est!
                    <br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quidem magnam harum repellat, laboriosam, quia veritatis quasi possimus illum recusandae nemo eum. Laboriosam doloremque dolores nesciunt similique fuga delectus unde!
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fuga recusandae soluta dolorum esse ipsum dignissimos facere. Sint debitis at inventore voluptatibus, odio cumque blanditiis amet. Dolores possimus asperiores blanditiis.
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero similique voluptas dolores eos illum veritatis, aliquam tempora odit reiciendis impedit pariatur ratione fuga! Beatae esse iusto provident eius fuga facere.
                    <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam dolor dolorem voluptate incidunt atque earum voluptatum quis dicta, at non, iure tempora architecto. Aliquam deserunt exercitationem voluptates, hic iure veritatis!
                    
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                        <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                    </ul>
               
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vel animi qui exercitationem atque. Fugit debitis quis ratione accusantium tempore delectus est, sapiente, autem placeat, beatae sunt ab hic repellendus.</p>
                    <hr>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione architecto quaerat quidem labore fugiat cum odit ipsam earum expedita, consectetur et veniam doloribus corrupti unde sapiente obcaecati rerum totam inventore.
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>qwerty?</h5>
                    <hr>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto optio in veritatis odio voluptatem quos excepturi, quisquam laudantium aperiam ex facere autem nam eligendi sed a? Illum rem eos cumque.
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>asdfg?</h5>
                    <hr>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores exercitationem minima error ipsum saepe hic et harum quod modi. Cupiditate ratione, distinctio facilis voluptatem aliquam hic veniam eaque unde modi!
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>asdfg?</h5>
                    <hr>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores exercitationem minima error ipsum saepe hic et harum quod modi. Cupiditate ratione, distinctio facilis voluptatem aliquam hic veniam eaque unde modi!
               
                </div>
            </div>
        </div>
        <br>
        </div>
    </body>
    </html>